
{{#partial "content"}}
    <div class="container">
        <section class="landing-pg">
                    {{#each hero}}
                            <p>Name: {{ name }} </p>
                            <p>Age: {{ age }}</p>
                            <p>Special power: {{ power }}</p>
                            <p>Weakness: {{ weakness }}</p>
                        <ul>
                            <a href="new/{{id}}" class="btn btn-primary">Learn More</a>
                            <a href="/squad" class="btn btn-primary">Add {{ name }} To Squad</a>
                        </ul>
                    {{/each}}
        </section>
    </div>

{{/partial}}
{{> layout.hbs}}